<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <script>

        async function loadCurrentUser() {
            try {
                const response = await fetch('/user/rest/');
                if (!response.ok) {
                    throw new Error('Ошибка при получении данных пользователя');
                }
                const currentUser = await response.json();
                document.getElementById('user-info').textContent = `${currentUser.email} with roles: ${currentUser.roles.map(role => role.roleName).join(', ')}`;

                createCurrentUserTable(currentUser);
            } catch (error) {
                console.error('Произошла ошибка:', error);
            }
        }

        function createCurrentUserTable(user) {
            const tableBody = document.getElementById('current-user-table-body');

            tableBody.innerHTML = '';

            const row = document.createElement('tr');
            row.innerHTML = `
        <td>${user.id}</td>
        <td>${user.name}</td>
        <td>${user.email}</td>
        <td>${user.username}</td>
        <td>${user.roles.map(role => role.roleName).join(', ')}</td>
    `;
            tableBody.appendChild(row);
        }
        document.addEventListener('DOMContentLoaded', () => {
            loadCurrentUser();
        });
    </script>
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark text-white">
    <div class="container-fluid">
        <span id="user-info"></span>
        <div class="d-flex ms-auto">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-light" style="margin-right: 10px;">Logout</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav flex-column nav-pills me-3">
                        <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h1>User information-page</h1>
                    <h2 style="margin: 15px; padding: 10px;">About user</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">UserName</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody id="current-user-table-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
